@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
	background: white;
	font-family: Poppins;
	padding-top: 10px;
	width: auto;
	height: auto;
	

}


.g1{
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;

}

.images1 img{
				width: 150px;
}

.images1{
				position: absolute;
				top: 0;
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap:2em;
				margin-left: 1em;
				margin-right: 1em;
}

.group1{
	border-radius: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr ;
		gap:2em;
		margin-left: 1em;
		margin-right: 1em;
		z-index: 55;
		margin-top: 2em;
			
}

.group1 button{
	border-radius: 50px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 5px ;
		padding-bottom:5px ;
		font-weight: bold;
		font-family: Poppins;
	    z-index: 4444;
	    border: 2px solid red;
}
.group1 button:hover{
	cursor: pointer;
	background: white;
	border: 2px solid black;
}

.ask{
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	z-index: 9999;
	bottom: 150px;
	text-align: center;
	position: relative;	
	font-weight: bold;		
	font-size: 20px;	
	
										
}

.btn{
	
	
	display: flex;
	justify-content:center;
	align-items: center;
	gap: 2em;		
	left: 70px;		
	position: relative;
}

#btn1{
	
			width: 86px;
			height: 34px;
			font-family: Poppins;
			text-align: center;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 1.3px;
			font-weight: bold;
			color: #313133;
			background: #4FD1C5;
			background: linear-gradient(90deg, pink 0%, pink 100%);
			border: none;
			border-radius: 1000px;
			box-shadow: 12px 12px 24px deeppink;
			transition: all 0.3s ease-in-out 0s;
			cursor: pointer;
			outline: none;
			position: relative;
			padding: 10px;
		}
	
		#btn1::before {
			content: '';
			border-radius: 1000px;
			width: 86px;
			height: 34px;
			border: 3px solid deeppink;
			box-shadow: 0 0 110px deeppink;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: all .3s ease-in-out 0s;
		}
	
		#btn1:hover,
		#btn1:focus {
			color: #313133;
			transform: translateY(-6px);
		}
	
		#btn1:hover::before,
		#btn1:focus::before {
			opacity: 1;
		}
	
		#btn1::after {
			content: '';
			width: 30px;
			height: 30px;
			border-radius: 100%;
			border: 2px solid #AA336A;
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: ring 1.5s infinite;
		}
	
		#btn1:hover::after,
		#btn1:focus::after {
			animation: none;
			display: none;
		}
	
		@keyframes ring {
			0% {
				width: 30px;
				height: 30px;
				opacity: 1;
			}
	
			100% {
				width: 200px;
				height: 200px;
				opacity: 0;
			}
		
}
#btn3{
	border-radius: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	top: 50px;
	right: 200px;
	font-weight: bold;
	font-family: Poppins;
	border: 2px solid black;
	position: relative;
}
#btn3:hover {
	cursor: pointer;
	background: white;
	border: 2px solid black;
}

#btn2:hover{
	cursor: pointer;
	background: white;
	border: 2px solid black;
}
#btn2{
	border-radius: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px ;
	padding-bottom:5px ;
	font-weight: bold;
	font-family: Poppins;
	border: 3px solid red;
	
	
}

.crush{
				font-size: 25px;
				margin-bottom: 2em;
				font-weight: bold;
				color: red;
}
.created{
	font-size: 14px;
	color: red;
	font-weight: bold;

}

#hands{
				width: 50px;
				position: absolute;
				top: 10em;
				left: 4em;
				animation: bounce2 2s ease infinite;
				opacity: 0;	
				top: 160px;			
}
#sadman{
				transform: translateY(-2em);		
				opacity: 0;
				
}
#hang{
		transform: translateY(-4em);		
		opacity: 0;
		position: relative;
		bottom: 350px;
		left: 175px;
		
}
#frog{
				transform: translateY(-4em);	
				opacity: 0;	
}

#hahahuhu{
	position: relative;
	bottom: 50px;
				opacity: 0;
}

#sadcat{
				opacity: 0;
}
#sadboi{
				opacity: 0;
				position: relative;
				top: 35px;
}
#crying{
				opacity: 0;
}
#sadsad{
				opacity: 0;
}


@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-15px);}
}

/*BUTTONS OPACITY*/

#btt1{
				opacity: 0;
}
#btt2{
				opacity: 0;
}
#btt3{
				opacity: 0;
}
#btt4{
				opacity: 0;
}
#btt5{
				opacity: 0;
}
#btt6{
				position: relative;
				bottom: 100px;
				right: 50px;
				opacity: 0;
}
#btt7{
				opacity: 0;
}
#btt8{
				opacity: 0;
}
#btt9{
				opacity: 0;
}
#btt10{
				opacity: 0;
}
#btt11{
				opacity: 0;
}
#btt12{
				position: relative;
				top: 100px;
				opacity: 0;
}

       /*BUTTONS2 OPACITY*/
#bbtt1{
				opacity: 0;
}
#bbtt2{
				opacity: 0;
}
#bbtt3{
				opacity: 0;
}
#bbtt4{
				opacity: 0;
}
#bbtt5{
				opacity: 0;
}
#bbtt6{
				
				opacity: 0;
}
#bbtt7{
				opacity: 0;
}
#bbtt8{
				position: relative;
				bottom: 100px;
				opacity: 0;
}
#bbtt9{
				opacity: 0;
}
#bbtt10{
				opacity: 0;
}
#bbtt11{
				opacity: 0;
}
#bbtt12{
				opacity: 0;
}

.fff{
    display: flex;
	justify-content: center;
	align-items: center;
	bottom: 100px;
	position: relative;
	
}

@media (max-width: 500px){
	#hands{
		top: 150px;
		
	}
	body{
		height: auto;
		width: auto;
	}
	#btt12{
		position: relative;
		right: 40px;
	}
	#bbtt3{
		position: relative;
		right: 100px;
	}
	#btt1
	{
		position: relative;
		left: 50px;
		bottom: 40px;
	}
	#bbtt1{
		position: relative;
		bottom: 100px;
	}
	#sadcat{
		left: 40px;
		position: relative;
		height: 100px;
		width: auto;
	}
	#btt4{
		position: relative;
		left: 50px;
		bottom: 30px;
	}
	#crying{
		left: 30px;
			position: relative;
			height: 100px;
			width: auto;
	}
	#sadboi{
		left: 40px;
		position: relative;
		height: 100px;
		width: auto;
	}
	#bbtt1{
		position: relative;
		left: 50px;
	}
	#sadman{
		left: 40px;
		bottom: 60px;
		position: relative;
		height: 100px;
		width: auto;

	}
	#hahahuhu{
		left: 10px;
			bottom: 100px;
			position: relative;
			height: 100px;
			width: auto;

	}
	#bbtt8{
		position: relative;
		bottom: 250px;
	}
	#btt3{
		position: relative;
		right: 50px;
	}
	#hang{
		position: relative;
		height: 100px;
		width: auto;
		bottom: 310px;
			
	}
}
